

.head{
    position: relative; /* To make the container a positioning context for the text */
}

.search{
	margin-left: auto;
	margin-right: auto;
}

.top1{
    align-items: flex-start; /* Align children from their top */
    margin-left: auto;
	margin-right: auto;
}

.JT{
    font-family: 'Galada',cursive;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; /* Add some margin for spacing */
    color: brown;
    padding:2px;
}
.header{
    min-height: 100vh;/*was 100*/
    width:100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    top:0;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}


.search{
    position: absolute;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 170px;
    top: -500px;
}
.search div{
    display: flex;
    align-items: center;
    margin-bottom:40px ;
    text-align: center;
    margin-right: 50px;
}
.bottom input{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
}
.topl input{
    margin-right: 10px;
    margin-left: 10px;
}

.red-btn {
    width: 90px;
    height: 25px;
    background-color:brown;
    right: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 60px;
}
.top{
    /*like 80%*/
    width: 900px;
}

.r_top {
    display: flex;
    flex-direction: row;
    /*set a width proportional to top*/
    width: 200px;
}
.r_bottom{
    width: 150px;
    margin-top: -35px;
}

.radio-buttons label {
    font-size: 13px;
    flex: 1;
}
.bottom{
    margin-top: -50px;
}
.search .top,
.search .bottom {
    margin-bottom: 10px; /* Adjust this value as needed */
}












.blue-btn{
    width: 300px;
    height: 25px;
    background-color:blue;
    right: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.s{
    display: none;
}


.resultsBody{
	background-color: white;
    border-radius: 5px;
    margin-top: -500px;
}


.rname{
    width: 400px;
    height: 23px;
}
.l_{
    height: 23px;
    width: 235px;
}


#resultsTable.resultsTable{
	background-color: transparent;	
}









.restaurant-box{
	background-color: #f9f9f9;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}

.restaurantDiv{
	background-color: #f9f9f9;
    padding: 5px;
    margin: 5px;/*also was10*/
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}

#resultsTable{
	margin-top: -290px;
	
}



.resultsBody{
	background-color: #f9f9f9;
    padding: 5px;/*tehse were both 10*/
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}








#dropdown-btn {
	top: -380px;
    padding: 10px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 250px;
}

.dropdown {
    position: relative;
    float: right;
    margin-top: -12%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -380px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
}

.dropdown.active .dropdown-content {
    display: block;
}

.result_{
	font-size: 30px;
	color: black;	
}



.search-sort{
    flex-direction: column;
}

